/* normal button */
.normal {
    color: white;
    background-color: #009688;
    border-radius: 5px;
    border: none;
    padding: 6px 0;
    filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.24));
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.035rem;
    cursor: pointer;
    text-align: center;
}
.normal:hover {
    background-color: #12756c;
}

/* reverse normal button */
.reverse {
    background-color: white;
    color: #009688;
    border: 1px solid #AAAAAA;
    filter: none;
    margin: 15px 0;
}
.reverse:hover {
    background-color: #ccc;
}

.save {
    padding: 7px 0;
}
.save:hover {
    background-color: #009688;
    cursor: auto;
}
/* for input color */
#backgroundButton {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    background-color: white;
}

#eyeDropper {
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 4px;
    overflow: hidden;
    background-color: #FFF;
}

#backgroundButton:hover,
#eyeDropper:hover {
    cursor: pointer;
    background-color: #cccccc;
}
/* for button in form */
.heightButton,
.widthButton,
.clearButton {
    font-size: 10px;
    font-weight: 600;
    height: 25px;
    padding: 5px;
    color: #009688;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    letter-spacing: 0.04em;
    background: white;
    text-align: center;
    line-height: 10px;
}
@media(hover: hover) and (pointer: fine) {
    .heightButton:hover,
    .widthButton:hover,
    .clearButton:hover {
        background-color: #ccc;
        cursor: pointer;
    }
}

.clearButton {
    width: 113px;
    font-size: 11px;
}

.XButton, .YButton, .angleButton, .imageSizeButton {
    width: 22px;
    text-align: end;
    border: none;
    border-bottom: 1px solid black;
    margin: 0 2px;
}

.editImage input::-webkit-outer-spin-button,
.editImage input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.editImage input[type='number'] {
    -moz-appearance: textfield;
}

.ZnkSizeButton {
    display: none;
}

/* Chose radius znk */
#ck-button {
    display: contents;
}

#ck-button label {
    color: #009688;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    background-color: transparent;
    width: 40px;
    height: 24px;
    text-align: center;
    line-height: 20px;
}

#ck-button label span {
    text-align: center;
    padding: 2px 4px;
    display: block;
    border-radius: 4px;
    letter-spacing: 0.04em;
}

#ck-button input:hover + span,
#ck-button input:checked + span{
    background: linear-gradient(0deg, rgba(153, 153, 153, 0.2), rgba(153, 153, 153, 0.2));
    cursor: pointer;
}
/* TextArea */
#descZnk {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    resize: none;
    font-size: 12px;
    margin-top: 8px;
    height: 16px;
    scrollbar-color: white #009688;
    scrollbar-width: thin;
}
#descZnk:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
/* Disabled inputs and textArea */
.disable:disabled, .editImage textarea:disabled {
    background-color: transparent;
    color: black;
}

/* PREVIEW checkbox */
.container {
    display: block;
    position: relative;
    padding: 2px 27px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 16px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #FFF;
    border-radius: 2px;
    font-size: 12px;
    border: 2px solid #757575;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: #009688;
    height: 18px;
    width: 18px;
    border: none;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.divsInForm input {
    margin: 0 2px;
}
