.formTransform {
    position: relative;
    top: 300px;
    left: -5px;
    background-color: white;
    padding: 10px;
}

.sketch-picker {
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 21;
}

.colorButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descZnk {
    margin-top: 10px;
    display: block;
}

.newDrop {
    padding-top: 10px;
    padding-bottom: 2px;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.035em;
}
.newDrop:hover,
.first a:hover {
    text-decoration: none;
    color: #009688;
}

.defaultTextWarm {
    text-align: center;
    font-size: 9px;
    color: #999999;
    margin: 20px 0 5px;
}

.transformDiv{
    position: absolute;
}

.congratulation {
    font-weight: 600;
    font-size: 18px;
    margin: 20px;
}

.center {
    align-content: center;
}

.m-30 {
   margin-top: 30px;
}

.completed {
    display: flex;
    flex-direction: column;
    align-items: center;
}
