.helpText {
    margin-left: 35px;
    text-align: left;
}

.header {
    text-align: center;
    margin-top: 10px;
    margin-left: -35px;
}

.first {
    margin: 3px 0;
}

.secondary {
    margin: 5px 0;
    font-size: 10px;
}

.p_margin {
    margin-bottom: 10px;
}

.helpText a {
    color: black;
}
