.imageEditor {
    position: relative;
    user-select: none;
}

.divsInForm {
    margin: 12px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.flexColumn {
    flex-direction: column;
    align-items: flex-start;
}

.transform {
    overflow: hidden;
    position: absolute;
    margin: 0 5px;
}
