.tr-transform {
    position: absolute;
    user-select: none;
}

.tr-transform__rotator {
    top: -25px;
    left: calc(50% - 5px);
}

.tr-transform__rotator,
.tr-transform__scale-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid #00A3FF;
    cursor: pointer;
}

.tr-transform__rotator:hover,
.tr-transform__scale-point:hover {
    background: #F1F5F8;
}

.tr-transform__rotator:active,
.tr-transform__scale-point:active {
    background: #DAE1E7;
}

.tr-transform__scale-point {

}

.tr-transform__scale-point--tl {
    top: -5px;
    left: -5px;
}

.tr-transform__scale-point--ml {
    top: calc(50% - 5px);
    left: -5px;
}

.tr-transform__scale-point--tr {
    left: calc(100% - 5px);
    top: -5px;
}

.tr-transform__scale-point--tm {
    left: calc(50% - 5px);
    top: -5px;
}

.tr-transform__scale-point--mr {
    left: calc(100% - 5px);
    top: calc(50% - 5px);
}

.tr-transform__scale-point--bl {
    left: -5px;
    top: calc(100% - 5px);
}

.tr-transform__scale-point--bm {
    left: calc(50% - 4px);
    top: calc(100% - 4px);
}

.tr-transform__scale-point--br {
    left: calc(100% - 5px);
    top: calc(100% - 5px);
}
