@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.content {
    position: relative;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 14px;
    color: #000000;
    margin: auto;
    padding: 5px;
}

.center {
    text-align: center;
}

.editImage input.file {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 0;
}

.pd1 {
    margin: 20px;
}

.center {
    text-align: center;
}
